.icon {
    fill: var(--sidebar-icon-color);
}

.icon--selected {
    fill: var(--sidebar-selected-icon-color);
}

.editor {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8rem;
}

.sidebar {
    width: 16rem;
    padding-right: 0.4rem;
    border-right: 1px solid var(--divider-color);
}

.sidebar__item {
    width: 100%;
}

.sidebar__item__card {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8rem;
    padding: 0.6rem 0.8rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    transition: background-color 0.2s;
}

.sidebar__item--selected {
    background-color: color-mix(in srgb, var(--sidebar-selected-icon-color) 12%, transparent);
}

.sidebar__item__children {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
}

.sidebar__item__card--selected {
    background-color: color-mix(in srgb, var(--sidebar-selected-icon-color) 12%, transparent);
}

.sidebar__item__card__name {
    font-size: 1em;
    color: var(--sidebar-text-color);
    transition: color 0.2s;
}

.sidebar__item__card__name--selected {
    color: var(--sidebar-selected-text-color);
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-height: 60dvh;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}

.panel__label {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--primary-text-color);
}

.panel__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.panel__section--full-height {
    height: 40dvh;
}

.dropdown {
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid var(--outline-color);
    background: none;
}

.dropdown option {
    background: var(--card-background-color);
}

.input {
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid var(--outline-color);
    background: none;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid var(--outline-color);
    background: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.textarea--full-height {
    height: 100%;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid var(--outline-color);
}

.slider__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider__value {
    background: none;
    border: none;
    text-align: end;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid var(--outline-color);
}

.expression {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.expression__values {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.button {
    all: unset;
    border-radius: 0.4rem;
    padding: 0.6rem;
    color: var(--card-background-color);
    text-align: center;
    font-weight: 500;
    background-color: var(--primary-color);
}

.button--danger {
    background-color: var(--red-color);
}

.warning {
    margin: 0;
}
