.editor {
    --spacing: 0.1rem;
    --spacing-2sx: calc(0.5 * var(--spacing));
    --spacing-sx: calc(1 * var(--spacing));
    --spacing-sm: calc(2 * var(--spacing));
    --spacing-md: calc(4 * var(--spacing));
    --spacing-lg: calc(8 * var(--spacing));
    --spacing-xl: calc(12 * var(--spacing));

    --color-neutral__dark: #272727;
    --color-neutral: #2b2b2b;
    --color-neutral__light: #3e3e3e;
    --color-neutral__lighter: #dddddd;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 12rem 1fr;
    gap: var(--spacing-lg);
}

.panel {
    border-radius: 1rem;
    background-color: var(--color-neutral__dark);
    outline: var(--spacing-sm) solid var(--color-neutral);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.panel-name {
    font-size: 1.2em;
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--color-neutral);
}

.general {
    grid-column-start: 1;
    grid-column-end: 3;
}

.general-inner {
    padding: var(--spacing-md) var(--spacing-lg);
}

.scene-inner {
    padding: var(--spacing-md) var(--spacing-lg);
}

.camera-inner {
    padding: var(--spacing-md) var(--spacing-lg);
}

.object-inner {
    padding: var(--spacing-md) var(--spacing-lg);
}

.sidebar {
    height: 100%;
    overflow-y: auto;
}

.sidebar-scene-name {
    padding-left: var(--spacing-lg);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    background: none;
    border: none;
    text-align: start;
}

.sidebar-scene-name__even {
    background-color: var(--color-neutral);
}

.sidebar-scene-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--spacing-lg);
}

.sidebar-scene-item-name {
    margin-left: var(--spacing-xl);
    border: none;
    border-left: 1px solid var(--color-neutral__light);
    padding-left: var(--spacing-lg);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    background: none;
    text-align: start;
}

.sidebar-scene-item__even {
    background-color: var(--color-neutral);
}

.expression {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}

.expression-inner {
    margin-top: var(--spacing-sm);
    display: grid;
    grid-auto-flow: column;
    gap: var(--spacing-md);
}

.expression-input {
    box-sizing: border-box;
    width: 100% !important;
    border: 0px;
    background-color: var(--color-neutral__light);
    border-radius: var(--spacing-md);
    padding: var(--spacing-md);
}

.config-editor {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
}

.config-editor-textarea {
    box-sizing: border-box;
    margin-top: var(--spacing-sm);
    width: 100%;
    height: calc(80 * var(--spacing));
    border: 0px;
    background-color: var(--color-neutral__light);
    border-radius: var(--spacing-md);
    padding: var(--spacing-md);
}
