.input.expression {
    --ascent: #fcd663;
}

.input.value {
    --ascent: #80c994;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--card-background-color);
}

.input input {
    background-color: transparent;
    padding: 0 1rem;
    outline: none;
    border: none;
    font:
        1.2em Roboto,
        sans-serif;
}

.input label {
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1.5rem;
    background-color: var(--ascent);
    border-radius: calc(infinity * 1px) 0 0 calc(infinity * 1px);
    color: #1d1d1d;
    font:
        500 1em Roboto,
        sans-serif;
}
