.button {
    height: 3rem;
    border-radius: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #80c994;
    border: none;
    width: fit-content;
    color: var(--card-background-color);
    font:
        500 1em Roboto,
        sans-serif;
}
