.outer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-background-color);
    border-radius: 2rem;
    padding: 1rem;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 40dvh;
    padding-right: 1rem;
    overflow-y: auto;
}

.box {
    box-sizing: border-box;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--card-background-color);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
